.money-heist-page-home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    object-fit: cover;
    padding: 0px 0px;
}

.videoHeist{
    width: 98vw;
    object-fit: cover;
    padding: 20px;
}

.divVideo{
    width: 100%;
}